html {
	@apply bg-gray-100 font-serif;
	color: #d1d0d0;
}

#__nuxt {
	@apply w-screen h-screen grid place-items-center;
}

a[btn],
button[btn] {
	--light-glow: 0px 0px 4px #757573, inset 0px 0px 6px #757573;
	--heavey-glow: 0px 0px 10px #9c9b8e, inset 0px 0px 22px #9c9b8e;

	@apply transition-all duration-300 text-md;

	text-shadow: 2px 2px 3px #000000;
	padding: 5px 2.5rem;
	border-radius: 2px;

	&[primary] {
		background: #191915;
		box-shadow: var(--light-glow);
		border: 1px solid #757573;

		&:hover,
		&:focus {
			box-shadow: var(--heavey-glow);
		}
	}

	&[secondary] {
		&:hover,
		&:focus {
			box-shadow: var(--light-glow);
		}
	}
}
